<div id="communication"></div>
<div>Check DINASORE's error_list.log for any errors. Sometimes it likes to stop working out of nowhere and you can't figure out why, restart all DINASORE instances and it might be fixed (specially if some request has no associated response).</div>

<script type="module" src="views/console.js"></script>
