<div class="split-view">
  <div id="config">
    <div id="resources-list"></div>
    <div id="add-resource" class="resource-item">+</div>
  </div>
  <div id="resize-handle"></div>
  <div id="communication">

  </div>
</div>

<script type="module" src="views/deployment.js"></script>
