<div id="sidebar">
  <div id="fbs-list"></div>
  <div id="add" class="fb-item">+</div>
</div>
<div id="fbs-toolbar">
  <input id="name-edit" type="text" value=""></input>
  <button id="delete-fb" onclick="">Delete</button>
</div>
<div id="fbs-editor">
  <div id="xml-editor"></div>
  <div id="resize-handle"></div>
  <div id="py-editor"></div>
</div>

<script type="module" src="views/fbs.js"></script>
