<div id="sidebar">

</div>
<div id="fbs-editor">
  <div id="xml-editor"></div>
  <div id="resize-handle"></div>
  <div id="py-editor"></div>
</div>

<script type="module" src="views/fbs.js"></script>
