<div class="sidebar">
  <div class="fb-item">CONCATENATE_REALS</div>
  <div class="fb-item">MOVING_AVERAGE</div>
</div>
<div class="fbs-editor">
  <div id="xml-editor">

  </div>
</div>

<script type="module" src="views/fbs.js"></script>
