#resources-list {
  align-self: center;
  margin-bottom: 1em;
}

.resource-item {
  padding: 1em;
  border-radius: 0.5em;
  background-color: #111;
  width: 40em;
  height: auto;
  margin: 1em 0 1em 0;
  position: relative;
}

.color-input {
  height: 4em;
  width: 4em;
  background: #ff0000;
  cursor: pointer;
  border: 0.2em solid #444;
  box-sizing: border-box;
}

.resource-item input {
  width: 38em;
  height: 2em;
}

.delete-resource {
  position: absolute;
  top: 0.05em;
  right: 0.2em;
  cursor: pointer;
}

#add-resource {
  text-align: center;
  width: 5em;
  height: 3.5em;
  background-color: #111;
  cursor: pointer;
  align-self: center;
}

#add-resource:hover {
  background-color: #181818;
}
