.sidebar {
  height: 100%;
  width: 15em;
  position: absolute;
  display: block;
  background-color: #111;
}

.fb-item {
  padding: 1em 1em 1em 1em;
}

.fb-item:hover {
  background-color: #222;
}

.fbs-editor {
  display: block;
  height: 100%;
  width: 100%;
  margin-left: 15em;
}

.xml-editor {
  height: 100%;
  width: 50%;
  background-color: red;
}
