@import url("colors.css");

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #222;
  font-family: 'Verdana', sans-serif;
  color: #f2f2f2;

  align-items: center;
  overflow-y: scroll;

  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 5%;
  margin-right: 5%;
}

a:link {
  color: var(--darker-primary);
}

a:visited {
  color: var(--darker-primary);
}

a:hover {
  color: var(--primary);
}

u {
  font-weight: bold;
}

.title {
  font-size: 7em;
}

.subtitle {
  font-size: 2em;
  text-align: center;
}

.container {
  line-height: 1.5em;
  margin-top: 2em;
  padding-top: 2em;
  font-size: 1.1em;
  width: 100%;
  max-width: 70em;
  border-top: 2px dashed var(--primary);
}

.container img {
  border: 1px solid var(--primary);
  margin-bottom: 1em;
}

.container button {
  border: 1px solid var(--darker-primary);
  border-radius: 0.3em;
  color: white;
  background: transparent;
  padding: 0.3em;
  margin-left: 1em;
  margin-right: 1em;
}

.container button:hover {
  color: var(--primary);
  border: 1px solid var(--primary);
}

.container span {
  transition: opacity 1s cubic-bezier(0.1, 0.8, 0.2, 1);
  opacity: 0;
}
