@import url("colors.css");

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #222;
  font-family: 'Verdana', sans-serif;
  color: #f2f2f2;
  overflow: hidden;
  align-items: center;

  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 5%;
  margin-right: 5%;
}

a:link {
  color: var(--darker-primary);
}

a:visited {
  color: var(--darker-primary);
}

a:hover {
  color: var(--primary);
}


.title {
  font-size: 7em;
}

.subtitle {
  font-size: 2em;
  text-align: center;
}

.container {
  line-height: 1.5em;
  margin-top: 2em;
  padding-top: 2em;
  font-size: 1.1em;
  width: 100%;
  max-width: 70em;
  border-top: 2px dashed var(--primary);
}

.container img {
  border: 1px solid var(--primary);
}
