<!DOCTYPE html>
<html>
<head>
  <title>LiteGraph App</title>
  <link rel="stylesheet" href="https://unpkg.com/litegraph.js/css/litegraph.css">
  <script src="https://unpkg.com/litegraph.js/build/litegraph.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/xml/xml.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/python/python.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/monokai.min.css">

  <link rel="stylesheet" href="index.css">
  <script type="module" src="index.js"></script>
</head>
<body>
  <%- include("partials/toolbar") -%>

  <div id="tab-content">
    <div class="tab-panel active" id="panel-graph">
      <%- include("partials/graph") -%>
    </div>

    <div class="tab-panel" id="panel-fbs">
      <%- include("partials/fbs") -%>
    </div>

    <div class="tab-panel" id="panel-deployment">
      <%- include("partials/deployment") -%>
    </div>
  </div>
</body>
</html>
