<div id="toolbar">
  <div class="tab active" data-panel="panel-graph" onclick="window.switchTab(this)">
    Graph
  </div>
  <div class="tab" data-panel="panel-fbs" onclick="window.switchTab(this)">
    Function Blocks
  </div>
  <div class="tab" data-panel="panel-config" onclick="window.switchTab(this)">
    Config
  </div>
  <div class="tab" data-panel="panel-console" onclick="window.switchTab(this)">
    Console
  </div>

  <div id="toolbar-actions">
    <!--<button class="action-btn secondary" onclick="window.toolbar_exportGraph()">Export</button>-->
    <% if (mode != 'test') { %>
      <button class="action-btn secondary" onclick="window.toolbar_clearStorage()">Clear Storage</button>
      <button class="action-btn secondary" onclick="window.toolbar_restartDINASOREs()">Restart DINASOREs</button>
    <% } %>
    <button class="action-btn primary" onclick="window.toolbar_deploy()">▶ Deploy</button>
  </div>
</div>

<script type="module" src="toolbar.js"></script>
