#sidebar {
  height: 100%;
  width: 15em;
  position: absolute;
  display: block;
  background-color: #111;
}

.fb-item {
  padding: 1em;
}

.fb-item:hover {
  background-color: #222;
  cursor: pointer;
}

#add-fb {
  text-align: center;
}

#fbs-editor {
  display: flex;
  height: 100%;
  width: auto;
  margin-left: 15em;
  background-color: #222;
}

#resize-handle {
  width: 8px;
  background-color: #444;
  cursor: col-resize;
  height: 100%;
}

#xml-editor {
  flex: 1;
  height: 100%;
  overflow: auto;
}

#py-editor {
  flex: 1;
  height: 100%;
  overflow: auto;
}

.CodeMirror {
  height: 100%;
}

#fbs-toolbar {
  height: 3em;
  margin-left: 15em;
  padding: 0.5em;
  text-align: center;
  border-bottom: 8px solid #444;
}

input {
  flex-grow: 1;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid #09f;
  outline: none;
  padding: 2px 4px;
  background-color: #333;
  color: white;
  border: 2px solid #444;
}
