#graphCanvas {
  flex: 1;
  width: 100%;
  height: 100%;
  display: block;
  border: none;
}

#node-panel {
  position: absolute;
  background-color: #333;
  margin: 0.5em;
  padding: 1em;
  padding-top: 2em;
  width: 21em;
  border: #555 1px solid;
}

.close {
  position: absolute;
  top: 0.2em;
  right: 0.5em;
  font-size: 32;
}

.close:hover {
  cursor: pointer;
}

.property {
  margin-top: 2px;
  margin-bottom: 6px;
}

.property_value {
  border: darkgrey 1px solid;
  width: 100%;
  padding: 4px;
  padding-bottom: 2px;
  padding-right: 2em;
	border-radius: 3px;
}
