<!DOCTYPE html>
<html>
<head>
  <title>PTERO</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div>
    <img src="images/ptero.gif" height="80" alt="PTERO animation" />
    <span class="title">PTERO</span>
  </div>
  <div class="subtitle">
    <u>P</u>rogramming <u>T</u>ool for <u>E</u>diting and <u>R</u>untime <u>O</u>rchestration
  </div>

  <div class="container">
    <p>A web-based IDE for DINASORE. Developed as the prototype for my Master's Thesis.</p>
    <p>This website is hosted in order to allow testing to be done remotely, with the objective of getting a higher number of answers.</p>
  </div>

  <div class="container">
    <h2>Validation</h2>
    <p>Testing PTERO can be done remotely by accessing <a href="/ide" target="_blank">https://ptero.pedro-beirao.eu/ide</a></p>
    <p>(The initial sync can take up to 1 minute)</p>
    <br>

    <div class="split">
      <img src="images/clear-storage.jpg" width="500" alt="CLEAR STORAGE" />
      <p>This is a collaborative IDE and you are joining an active session, so, since other people may have been testing it before, you need to click <u>CLEAR STORAGE</u> in the top right.</p>
    </div>

    <h3>1. Config Editor</h3>
    <div class="split">
      <img src="images/config.jpg" width="500" alt="CONFIG" />
      <div>
        <p>Now you are ready to develop and deploy a program to DINASORE.</p>
        <br>
        <p>First, go to the <u>CONFIG</u> tab and add a DINASORE, leaving the fields like the default.</p>
        <br>
        <p>The SSH fields are used to send the function block files to the DINASORE filesystem.</p>
      </div>
    </div>

    <h3>2. Function Blocks Editor</h3>
    <p>Now move to the <u>FUNCTION BLOCKS</u> tab and create 3 items, naming them <strong>SENSOR_SIMULATOR</strong>, <strong>MOVING_AVERAGE</strong> and <strong>CONCATENATE_REALS</strong>. Copy and Paste the following code into the corresponding items that you have created.</p>
    <p>(Click "Copy Code" to have the code copied into your clipboard)</p>
    <script src="validation.js"></script>
    <br>
    <div>SENSOR_SIMULATOR.fbt <button onclick="copyCode('SENSOR_SIMULATOR_fbt', this)">Copy Code</button><span>Copied!</span></div>
    <div>SENSOR_SIMULATOR.py <button onclick="copyCode('SENSOR_SIMULATOR_py', this)">Copy Code</button><span>Copied!</span></div>
    <br>
    <div>MOVING_AVERAGE.fbt <button onclick="copyCode('MOVING_AVERAGE_fbt', this)">Copy Code</button><span>Copied!</span></div>
    <div>MOVING_AVERAGE.py <button onclick="copyCode('MOVING_AVERAGE_py', this)">Copy Code</button><span>Copied!</span></div>
    <br>
    <div>CONCATENATE_REALS.fbt <button onclick="copyCode('CONCATENATE_REALS_fbt', this)">Copy Code</button><span>Copied!</span></div>
    <div>CONCATENATE_REALS.py <button onclick="copyCode('CONCATENATE_REALS_py', this)">Copy Code</button><span>Copied!</span></div>
    <br>
    <img src="images/fbs-editor.jpg" height="250" alt="FUNCTION BLOCKS" />

    <h3>3. Graph Editor</h3>
    <div class="split">
      <img src="images/graph-add.jpg" height="250" alt="GRAPH add" />
      <p>Move over to the <u>GRAPH</u> tab and add the 3 function blocks that you've created, arranging them and connecting them like shown in the image on the left.</p>
      <br>
      <p>This is a good time to test the real-time collaboration capabilities of PTERO. Go ahead an open another tab in this same url and play around with it (the final survey will mention this).</p>
    </div>

    <div class="split">
      <img src="images/graph-input.jpg" height="250" alt="GRAPH input" />
      <div>
        <p>There are 2 unconnected data inputs, assign them the following values:</p>
        <br>
        <p>SENSOR_SIMULATOR <u>OFFSET</u> = 12</p>
        <p>MOVING_AVERAGE <u>WINDOW</u> = 5</p>
      </div>
    </div>

    <div class="split">
      <img src="images/graph-mapto.jpg" height="250" alt="GRAPH map to" />
      <div>
        <p>Map all function blocks to "DINASORE 1". They will change color to reflect this change.</p>
      </div>
    </div>

    <h3>4. Deployment and Console</h3>
    <div>
      <p>You are now ready to deploy, go to the <u>CONSOLE</u> tabs and press <u>DEPLOY</u> in the top right.</p>
      <p>If something goes wrong, press <u>RESTART DINASORES</u> then deploy again after a few seconds, this way the problem might fix itself (DINASORE likes to stop working from time to time).</p>
      <br>
      <p>The console should output exactly what you can see the in the following image.</p>
    </div>
    <img src="images/deploy.jpg" height="350" alt="Deploy" />

    <h3>5. Watch</h3>
    <div>
      <p>Going back to the <u>GRAPH</u> tab, you should see values on the right of the data outputs.</p>
    </div>
    <img src="images/watch.jpg" height="350" alt="Watch" />

    <h3>Feedback</h3>
    <p>Thank you for participating!</p>
    <p>Please fill out <a href="https://forms.cloud.microsoft/e/kXnVzf7TzL" target="_blank">this form</a>, giving feedback on PTERO and comparing it with 4diac IDE. The results will be anonymized and featured in my thesis.</p>

    <br><br><br><br>
    <br><br><br><br>
  </div>
</body>
</html>
