<!DOCTYPE html>
<html>
<head>
  <title>PTERO</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div>
    <img src="images/ptero.gif" height="80" alt="PTERO animation" />
    <span class="title">PTERO</span>
  </div>
  <div class="subtitle">
    <strong><u>P</u></strong>rogramming <strong><u>T</u></strong>ool for <strong><u>E</u></strong>diting and <strong><u>R</u></strong>untime <strong><u>O</u></strong>rchestration
  </div>
  <div class="container">
    <p>A web-based IDE for DINASORE. Developed as the prototype for my Master's Thesis.</p>
    <p>This website is hosted in order to allow testing to be done remotely, with the objective of getting a higher number of votes.</p>
    <br>
    <p>If you are a <strong>SINF</strong> student, please first fill out <a href="https://forms.cloud.microsoft/e/sxPGsM0Fh4" target="_blank">this form</a> (5 minutes)</p>
  </div>
  <div class="container">
    <h2>Validation</h2>
    <p>Testing PTERO can be done remotely by accessing <a href="https://ptero.pedro-beirao.eu/ide" target="_blank">https://ptero.pedro-beirao.eu/ide</a></p>
    <p>(The initial sync can take up to 1 minute)</p>
    <br>
    <p>This is a collaborative IDE and you are joining an active session, so, since other people may have been testing it before, you need to click "CLEAR STORAGE" in the top right.</p>
    <img src="images/clear-storage.jpg" height="300" alt="CLEAR STORAGE" />
    <br>
    <p>Now you are ready to develop and deploy a program to DINASORE</p>
  </div>
</body>
</html>
